:root {
  --bg: #eecece;
  --fg: #ffffff;
  --txt: #ba7373;
  --link: #914646;
  --preview-bg:#d8a3a3;
  --hover: #d18b8b;
}

[data-theme=dark] {
    --bg: #120000;
    --fg: #411717;
    --txt: #ffbebe;
    --link: #b25e5e;
    --preview-bg: #633232;
    --hover: #fbc8c8;
}

@font-face { 
    font-family: "Baristo"; 
    src: url("/fonts/Baristo.ttf"); 
}

@font-face { 
    font-family: "ShantellSans"; 
    src: url("/fonts/ShantellSansRegular.ttf"); 
}

body {
    background-color: var(--bg);
}

input {
    display: none;
}

button {
    background-color: var(--txt);
    cursor: pointer;
    color: var(--link);
}

button:hover {
    background-color: var(--hover);
}

.main {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    color: var(--txt);
    font-family: Baristo;
    letter-spacing: 3px;
    font-size: 20px;
    text-align: center;
    display: inline;
}

.header svg {
    width: 30px;
    height: 30px;
    fill: var(--txt);
}

.heart-left {
    rotate: 340deg;
    margin-right: 30px;
}

.heart-right {
    rotate: 20deg;
    margin-left: 30px;
}

#color-theme {
    border-radius: 15px;
    font-family: ShantellSans;
    border: transparent;
    font-size: 20px;
    margin-left: 20px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas:
    "left right";
    grid-template-columns: 3fr 5fr;
    gap: 40px;
    background-color: var(--fg);
    width: 700px;
    font-family: ShantellSans;
    font-weight: 500;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.content h2 {
    text-align: center;
    color: var(--txt);
    font-size: 20px;
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
}

.preview {
    border-radius: 15px;
    background-color: var(--preview-bg);
    border: solid 4px var(--txt);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview img {
    display: none;
}

.preview canvas {
    width: 90%;
    padding: 5%;
}

.control {
    display: block;
    margin-top: 20px;
}

.control button {
    font-size: 35px;
    height: 50px;
    width: 30%;
    border: transparent;
}

#back {
    border-radius: 20px 0px 0px 20px;
}

.button-icon {
    fill: var(--link);
    height: 20px;
}

#play svg {
    height: 20px;
}

#forward svg {
    height: 20px;
    transform: scaleX(-1);
}

#play {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#forward {
    border-radius: 0px 15px 15px 0px;
}

.upload {
    border-radius: 15px;
    background-color: var(--preview-bg);
    border: solid 4px var(--txt);
    height: 270px;
}

.upload img {
    width: 40%;
    padding: 5%;
}

.choose {
    border-radius: 15px;
    border: dotted 4px var(--txt);
    width: 85%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.choose button {    
    border-radius: 15px 0px 0px 15px;
    border: transparent;
    height: 100%;
    font-family: ShantellSans;
    font-size: 20px;
    font-weight: 500;
}

#fileInfo {
    margin-left: 10px;
    display: inline;
    color: var(--txt);
    overflow: hidden;
}

.footer {
    margin-top: 20px;
    color: var(--txt);
    font-family: ShantellSans;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}

.footer a {
    color: var(--link);
}